# All files which could be generated on the macbook environment, should be ignored. 
__pycache__/
.python-version
__pycache__
__init__.py
uv.lock
.env
.venv
.DS_Store
agents.egg-info/
SmartResearchAgent.egg-info/